{% include 'recipes/partials/head.html' %}

<body>
	{% include 'recipes/partials/header.html' %}
	{% include 'recipes/partials/search.html' %}

	<main class="main-content-container">
		<div class="main-content main-content-list container">
			<div class="recipe recipe-list-item">
				<div class="recipe-cover">
					<img src="https://via.placeholder.com/1280x720.png/269fe6/" alt="temporario">
				</div>
				<div class="recipe-title-container">
					<div class="recipe-title">
						<h2 class="recipe-title">The Best</h2>
					</div>
				</div>
				<div class="recipe-author">
					<span class="recipe-author-item">
						<i class="fa-solid fa-user"></i>
						The Best
					</span>
					<span class="recipe-author-item">
						<i class="fa-regular fa-calendar-days"></i>
						08/12/2022 às 23:02
					</span>
					<span class="recipe-author-item">
						<a href="">
							<i class="fa-solid fa-layer-group"></i>
							<span>receita</span>
						</a>
					</span>
				</div>

				<div class="recipe-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nisi erat, volutpat sed 
					finibus eu, accumsan ac leo. Ut eget lacus vestibulum, iaculis ante ut,
				       	fringilla quam. Integer quis scelerisque ex.</p>
				</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>

